<footer class="relative border-t border-base-300 dark:border-base-content">
  <div class="mx-auto max-w-6xl px-6 py-12 lg:px-8">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-8">
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold text-base-content">{{ t().hero.name }}</h3>
        <p class="text-base text-content-base">{{ t().hero.role }}</p>
        <div class="flex gap-x-6">
          <app-social-media
            [divClass]="'flex gap-x-6'"
            [mdHeightIcon]="'md:h-7'"
            [mdWidthIcon]="'md:w-7'"
          />
        </div>
      </div>
      <div class="hidden md:block flex-col md:items-end gap-4">
        <nav class="flex gap-x-8">
          <a
            routerLink="."
            [fragment]="'hero'"
            class="text-sm text-base-content hover:text-base-300 transition-colors"
          >
            {{ t().nav.hero }}
          </a>
          <a
            routerLink="."
            [fragment]="'about-me'"
            class="text-sm text-base-content hover:text-base-300 transition-colors"
          >
            {{ t().nav.about }}
          </a>
          <a
            routerLink="."
            [fragment]="'projects'"
            class="text-sm text-base-content hover:text-base-300 transition-colors"
          >
            {{ t().nav.projects }}
          </a>
          <a
            routerLink="."
            [fragment]="'experience'"
            class="text-sm text-base-content hover:text-base-300 transition-colors"
          >
            {{ t().nav.experience }}
          </a>
          <a
            routerLink="."
            [fragment]="'education'"
            class="text-sm text-base-content hover:text-gray-800 transition-colors"
          >
            {{ t().nav.education }}
          </a>
        </nav>
        <p class="text-sm text-content-base">
          © 2026 {{ t().hero.name }}. {{ t().footer.copyright }}.
        </p>
        <p class="text-xs visually-hidden">
          Inspirado en https://ryanfitzgerald.github.io/devportfolio/
        </p>
      </div>
    </div>
  </div>
</footer>
